{namespace models}

/**
 * @param Downloads
 * @param PageViews
 * @param UniqueVisitors
 */
{template .StatisticsTemplate}
<ul>
  <li>Downloads: {$Downloads}</li>
  <li>PageViews: {$PageViews}</li>
  <li>UniqueVisitors: {$UniqueVisitors}</li>
</ul>
{/template}