{namespace example}

/**
 * @param Id
 * @param Name
 * @param Email
 */
{template .User}
  User {$Id}, Name {$Name}, Email: {$Email}
{/template}

/**
 * A basic string
 */
{template .BasicString}
basic
{/template}